* {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
:root {
  --black: #302F2F;
  --red: #D85D5D;
  --darkred: #D85D5D;
  --blue: #555A88;
  --gray: #BDBDBD;
  --lightray: #D3D3D3;
}
.App {
  text-align: center;
  padding: 70px;
}

h1 {
  font-size: 50px;
  text-align: left;
}

h2 {
  margin: 0;
}

.user {
  margin: 50px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
}